<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.mapper.erp.ErpUserMapper">
    <select id="findEmployee" resultType="com.example.spring.dto.EmployeeDto" parameterType="String">
        SELECT
            *
        FROM SPRING_HAA010T
        WHERE 1=1
        AND EMPLOYEE_NO = #{employeeNo}
    </select>

    <select id="findAuthenticationCode" resultType="String">
        SELECT
            AUTHENTICATION_CODE
        FROM SPRING_AUTHENTICATION
        WHERE 1=1
        AND EMPLOYEE_NO = #{employeeNo}
        AND EXPIRE_DT <![CDATA[>]]> GETDATE()
        AND USE_YN = 'N'
    </select>

    <insert id="issueAuthenticationCode" parameterType="String">
        INSERT INTO SPRING_AUTHENTICATION
        VALUES (#{employeeNo}, #{authenticationCode}, GETDATE(), DATEADD(MINUTE, 2, GETDATE()), 'N');
    </insert>

    <update id="disposeAuthenticationCode" parameterType="String">
        UPDATE SPRING_AUTHENTICATION
        SET USE_YN = 'Y'
        WHERE 1=1
        AND EMPLOYEE_NO = #{employeeNo}
        AND EXPIRE_DT <![CDATA[>]]> GETDATE()
        AND USE_YN = 'N'
    </update>

    <update id="resetPassword" statementType="CALLABLE" parameterType="String">
        {
            CALL [DBO].[USP_SPRING_PASSWORD_RESET] (#{employeeNo})
        }
    </update>

</mapper>